<template>
  <section :style="{ backgroundImage: `url(${require(`@/assets/background/background-yellow.jpg`)})` }">
    <div class="container content has-text-centered">
      <transition enter-active-class="animated bounceIn" leave-active-class="animated bounceOut">
        <div class="response r-match notification is-success" v-if="correctMatch === true">
          <span class="is-uppercase">Correct</span>
        </div>

        <div class="response r-not-match notification is-danger" v-if="correctMatch === false">
          <span class="is-uppercase">Try<br/>Again</span>
        </div>
      </transition>

      <div class="columns is-vcentered wrapper">
        <div class="column">

          <div class="activity-title">
            <h1>SYMBOLS</h1>
            <h4>DRAG AND DROP QUIZ</h4>
            <p class="content">INSTRUCTIONS: Drag and drop the four symbols below to their commonly associated meanings.</p>
          </div>


          <div class="grid-pictures">
            <div class="drag-picture" :key="symbol.id" v-for="symbol in symbols">
              <h5 v-if="!symbol.selected" class="is-uppercase" :style="{ color: symbol.color }">{{ symbol.title }}</h5>
              <img :src="require(`@/assets/images/${symbol.image}`)" :id="`symbol-${symbol.id}`" class="symbol"
                   :draggable="!disabledItem" :style="{ backgroundColor: symbol.backgroundColor }"
                   @dragstart="onDragStart" :data-id="symbol.id" :data-match="symbol.match"/>
            </div>
          </div>

          <div class="box-space" v-show="boxSpace === 4"></div>

          <div class="grid-pictures">
            <div class="drag-on-picture" :key="meaning.id" v-for="meaning in meanings">
              <div :id="`drop-${meaning.id}`" class="drop" @drop="onDrop" @dragover="onDragOver" :data-id="meaning.id">
                <div :id="`drop-content-${meaning.id}`" class="place-image-over">
                  <div class="drag-on-name">
                    <img :src="require(`@/assets/images/question.png`)" alt="">
                  </div>
                </div>
              </div>

              <div class="info-buttons">
                <button class="button is-blue is-next" :disabled="!meaning.button" @click="showDetail(meaning)">
                  <span>{{ meaning.name }}</span>
                </button>
              </div>
            </div>
          </div>

          <div class="summary-button" v-if="showSummaryButton">
            <button class="button is-blue is-next" @click="goSummary"><span>Summary Page</span></button>
          </div>

        </div>
      </div>
    </div>
  </section>
</template>

<script>
  import { mapState, mapGetters } from 'vuex'

  export default {
    name: 'activity',
    beforeRouteUpdate (to, from, next) {
      this.$store.commit('unsetMatchedItem')

      next()
    },
    data () {
      return {
        animate: false,
        show: true,
        hasOneMatched: false,
        showNextButton: true,
        currentArraySymbols: [],
        correctMatch: null,
        rightId: null
      }
    },
    computed: {
      ...mapState(['symbols', 'meanings', 'matchedItem', 'matchedCount', 'boxSpace', 'showSummaryButton']),
      ...mapGetters(['disabledItem'])
    },
    mounted () {
      this.symbols.forEach(symbol => {
        if (symbol.selected) {
          const symbolEl = document.getElementById(`symbol-${symbol.id}`)

          document.getElementById(`drop-content-${symbol.match}`).remove()
          document.getElementById(`drop-${symbol.match}`).appendChild(symbolEl).draggable = false
        }
      })
    },
    methods: {
      onDragStart (ev) {
        ev.dataTransfer.setData('symbol', ev.target.id)
      },
      onDragOver (ev) {
        ev.preventDefault()
      },
      onDrop (ev) {
        ev.preventDefault()

        const data = ev.dataTransfer.getData('symbol')
        const id = data.split('-')[1]
        const drop = ev.target.dataset.id

        const dataElement = document.getElementById(data)

        const match = dataElement.dataset.match

        const symbols = this.$el.querySelectorAll('.symbol')
        symbols.forEach(symbol => {
          this.currentArraySymbols.push(parseInt(symbol.dataset.id))
        })

        if (match === drop) {
          document.getElementById(`drop-content-${drop}`).remove()

          ev.target.appendChild(dataElement).draggable = false
          this.currentArraySymbols.splice(id - 1, 1)

          const matchedItem = this.symbols[id - 1]

          this.$store.commit('setMatchedItem', matchedItem)
          this.$store.commit('showButton', parseInt(id))

          this.checkCorrectMatch(this.correctMatch = true)

          this.$store.commit('setBoxSpace')
        } else {
          this.checkCorrectMatch(this.correctMatch = false)
        }
      },
      showDetail (meaning) {
        switch (meaning.id) {
          case 1:
            this.rightId = 4
            break
          case 2:
            this.rightId = 3
            break
          case 3:
            this.rightId = 2
            break
          case 4:
            this.rightId = 1
            break
        }

        const item = this.symbols[this.rightId - 1]

        this.$store.commit('setMatchedItem', item)
        this.$store.commit('setCompleted', item)
        this.$store.commit('incrementMatchedCount', meaning.id)
        this.$store.commit('checkingComplete', meaning.id)
        this.$store.commit('setItemEnabled', this.currentArraySymbols)

        this.$router.push(`/${meaning.shortName}`)
      },
      checkCorrectMatch () {
        let self = this

        setTimeout(function () {
          self.correctMatch = null
        }, 1000)
      },
      goSummary () {
        this.$router.push('/summarise')
      }
    }
  }
</script>

<style lang="scss" scoped>
  $passion: 'Passion One Regular', sans-serif;
  $regular: 'Philosopher Regular', sans-serif;
  $bold: 'Philosopher Bold', sans-serif;

  section {
    position: relative;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    z-index: 0;
    overflow: hidden;
  }

  .container {
    height: 100vh;

    .wrapper {
      height: 100%;
    }
  }

  .activity-title {

    h1 {
      font-family: $passion;
      font-size: 6em;
      margin-bottom: -2%;
    }

    h4 {
      font-family: $passion;
      font-size: 2.5em;
      margin-bottom: 0;
    }

    p {
      font-family: $bold;
      font-size: 1.45em;
      line-height: 110%;
      margin: 0 25% 1%;
    }
  }

  .grid-pictures {
    margin: 0 15%;
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    grid-template-rows: 25% 25%;
    grid-column-gap: 1%;
    grid-row-gap: 1vh;
  }

  .drag-on-name {
    padding: 28%;
  }

  .drop {
    max-height: 256px;
  }

  .place-image-over {
    background-color: #c7ba1e;
    overflow: hidden;
    position: relative;
    max-width: 256px;
    max-height: 256px;
    z-index: -1;
  }

  .drag-picture {
    max-height: 250px;
    position: relative;
    overflow: hidden;

    img:hover {
      cursor: pointer;
      animation: pulse 1.5s infinite;
    }

    h5 {
      font-family: $passion;
      position: absolute;
      width: 100%;
      z-index: 5;
      font-size: 1.8em;
    }
  }

  .info-buttons {
    position: relative;
    margin-top: 1%;

    button:disabled {
      background: #373308;
      opacity: 0.8;
    }

    button {
      font-family: $bold;
      font-size: 1.1em;
      white-space: pre;
      height: 10vh;
    }
  }

  .r-match {
    background-color: #23d5ab;
  }

  .r-not-match {
    background-color: #e73c7e;
  }

  .response {
    font-family: $passion;
    position: fixed;
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    bottom: 35%;
    left: 42%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 9999;

    span {
      line-height: 80%;
      font-size: 2.5em;
      margin-left: 5%;
    }
  }

  .summary-button {
    margin: 0 25%;
  }

  .box-space {
    background-color: inherit;
    height: 12vh;
  }
</style>
