<template>
  <section :style="{ backgroundImage: `url(${require(`@/assets/background/background-blue.png`)})` }">
    <div class="columns is-vcentered wrapper">
      <div class="column">

        <div :id="items[storyCounter].story" class="envy-story-mode" v-if="storyCounter < 5">
          <div class="envy-video" v-if="storyCounter < 3">
            <video id="video" :src="video" autoplay></video>
          </div>

          <div class="envy-image" v-else>
            <audio :src="storyAudio" autoplay></audio>
            <img class="image-two-book" :src="imageTwo" alt="">
            <img :src="image" class="fading"/>
          </div>

          <div class="envy-speech">
            <h1>GREEN</h1>
            <h4>Symbol of Envy</h4>
            <p>{{ items[storyCounter].text }}</p>

            <div class="envy-buttons">
              <button class="button is-yellow is-back" v-if="storyCounter !== 0" @click="goBack">
                <span class="text">Back</span>
                <span class="logo">➜</span>
              </button>
              <button class="button is-yellow is-next" @click="goNext">
                <span class="text">Next</span>
                <span class="logo">➜</span>
              </button>
            </div>
          </div>
        </div>

        <div class="othello" v-else>
          <transition enter-active-class="animated fadeIn">
            <div class="othello-video">
              <video :key="video" :src="video" autoplay class="fading"></video>

              <div class="othello-button">
                <button class="button is-yellow goto-activity" @click="gotoActivity">
                  <span>Back to Drag & Drop</span>
                </button>
              </div>
            </div>
          </transition>
        </div>

      </div>
    </div>
  </section>
</template>

<script>
  import { mapState } from 'vuex'

  export default {
    name: 'envy',
    data () {
      return {
        storyCounter: 0,
        visibility: false,
        items: [
          {
            id: 2,
            story: 'envy-two',
            video: require(`@/assets/envy/green-1.mp4`),
            text: 'The phrases “green with envy”, and the “green-eyed monster” are idioms in the English Language, which we commonly use to describe someone who is consumed with jealousy.'
          },
          {
            id: 3,
            story: 'envy-three',
            video: require(`@/assets/envy/green-2.mp4`),
            text: 'So, how did the colour green gain its association with envy?'
          },
          {
            id: 4,
            story: 'envy-four',
            video: require(`@/assets/envy/green-3.mp4`),
            text: 'This could have stemmed from the ancient Greeks, who believed that feelings of jealousy would cause an overproduction of bile in one’s body, turning a person’s complexion a pale, putrid green.'
          },
          {
            id: 5,
            story: 'envy-five',
            image: require(`@/assets/envy/othello/othello-two-scene.jpg`),
            imageTwo: require(`@/assets/envy/othello/othello-book.png`),
            text: 'The idiom “the green-eyed monster” was also coined by the legendary British playwright William Shakespeare to denote jealousy, in his play Othello.',
            audio: require(`@/assets/envy/green-narrate-4.mp3`)
          },
          {
            id: 6,
            story: 'envy-six',
            othello: 'othello',
            iago: 'iago',
            image: require(`@/assets/envy/othello/othello-scene.jpg`),
            text: 'In Act III Scene III of the play, the villain in the story, Iago, schemes to make the main character Othello, believe that Othello’s wife, Desdemona is cheating on him with another man. Although Iago appears to caution Othello of the dangers of jealousy, he is actually planting seeds of suspicion and distrust in Othello’s mind.',
            audio: require(`@/assets/envy/green-narrate-5.mp3`)
          },
          {
            id: 7,
            video: require(`@/assets/envy/othello/othello-video.mp4`)
          }
        ]
      }
    },
    beforeRouteEnter (to, from, next) {
      next(vm => {
        if (vm.$store.state.matchedItem) {
          next()
        } else {
          vm.$router.push('/activity')
        }
      })
    },
    computed: {
      ...mapState(['matchedItem']),
      image () {
        return this.items[this.storyCounter].image
      },
      imageTwo () {
        return this.items[this.storyCounter].imageTwo
      },
      video () {
        return this.items[this.storyCounter].video
      },
      storyAudio () {
        return this.items[this.storyCounter].audio
      }
    },
    methods: {
      gotoActivity () {
        this.$router.push('/activity')
      },
      goNext () {
        this.storyCounter++
      },
      goBack () {
        this.storyCounter--
      }
    }
  }
</script>

<style lang="scss" scoped>
  $passion: 'Passion One Regular', sans-serif;
  $regular: 'Philosopher Regular', sans-serif;
  $bold: 'Philosopher Bold', sans-serif;

  section {
    background-position: center;
    background-size: cover;
    overflow: hidden;
    color: #fff045;

    h1 {
      color: #fff045;
      font-family: $passion;
      font-size: 7em;
      line-height: 100%;
    }
    h4 {
      font-family: $bold;
      font-size: 3em;
      line-height: 145%;
    }
    p {
      font-family: $regular;
      font-size: 1.8em;
      line-height: 125%;
      padding: 5% 15% 0 1%;
    }
  }

  .wrapper {
    margin: 0;
    height: 100vh;
  }

  .envy-story-mode {
    position: relative;

    .envy-image {
      z-index: 1;
    }

    .image-two-book {
      position: absolute;
      z-index: 2;
      opacity: 0;
      animation: fadingIn 8.5s linear forwards;

      @keyframes fadingIn {
        0% {
          opacity: 0;
        }
        80% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
    }

    .envy-video {
      height: 100%;
      z-index: 1;

      video {
        min-width: 100%;
        min-height: 101vh;
      }
    }

    .envy-speech {
      position: absolute;
      z-index: 2;
      width: 50%;
      height: 100%;
      padding: 10% 7% 0;
      top: 0;
      right: 0;
    }
  }

  #envy-six {
    p {
      font-size: 1.5em;
    }
  }

  .envy-buttons {
    position: absolute;
    z-index: 3;
    display: flex;
    width: 100%;
    bottom: 15%;
    right: 35%;
    justify-content: flex-end;

    .is-next {
      max-width: 10vw;
      margin-left: 5%;
    }

    .is-back {
      max-width: 10vw;
    }
  }

  .othello {

    .othello-button {
      position: absolute;
      bottom: 5%;
      right: 7.75%;

      button {
        font-family: $passion;
        font-size: calc(0.6vh + 0.6vw + 0.5vmin);
        border: 2px solid #3554af;
      }
    }

    .othello-video {

      video {
        min-height: 101vh;
        min-width: 100%;
      }
    }
  }
</style>
