<template>
  <section :style="{ backgroundImage: `url(${require(`@/assets/background/background-blue.png`)})` }">
    <div class="columns is-vcentered wrapper">
      <div class="column">

        <div class="hope-one">
          <div class="hope-one-video">
            <video :src="require(`@/assets/hope/candle-${hope.id}.mp4`)" autoplay></video>
          </div>

          <div class="hope-one-text">
            <h1>CANDLE</h1>
            <h4>{{ hope.title }}</h4>

            <p class="content">
              {{ hope.description }}
              <span :key="title.name" v-for="title in hope.titles">{{ title.name.toLowerCase() }} </span>
            </p>
          </div>
        </div>

        <div class="hope-buttons">
          <button class="button is-back is-yellow" @click="goBack" v-if="storyCounter !== 0">
            <span class="text">Back</span>
            <span class="logo">➜</span>
          </button>

          <button class="button is-next is-yellow" @click="goNext" v-if="storyCounter < 6">
            <span class="text">Next</span>
            <span class="logo">➜</span>
          </button>

          <button class="button is-next is-yellow goto-activity" @click="gotoActivity" v-else>Back to Drag & Drop
          </button>
        </div>

      </div>
    </div>
  </section>
</template>

<script>
  import { mapState } from 'vuex'

  export default {
    name: 'hope',
    data () {
      return {
        storyCounter: 0,
        items: [
          {
            id: 1,
            titles: [
              { name: 'Hope,' },
              { name: 'Celebration' },
              { name: 'and Remembrance.' }
            ],
            description: 'The candle is an example of a common everyday object that possesses multiple symbolic meanings, of'
          },
          {
            id: 2,
            title: 'Symbol of Hope',
            description: 'When lit, the flame from the candle emits light that dispels the darkness. Thus, candles are often seen as a symbol of hope.'
          },
          {
            id: 3,
            title: 'Symbol of Hope',
            description: 'There is an American non-profit charity organisation called the Candle-lighters, which aims to bring hope and support to the families of children who suffer from cancer.'
          },
          {
            id: 4,
            title: 'Symbol of Celebration',
            description: 'Candles can be a symbol of celebration as well. They are often used on birthday cakes, in celebration of one’s birth and life.'
          },
          {
            id: 5,
            title: 'Symbol of Celebration',
            description: 'Couples who get married in churches also often light unity candles during weddings to symbolise the marital union between the couple.'
          },
          {
            id: 6,
            title: 'Symbol of Remembrance',
            description: 'However, candles have other symbolic meanings as well. They are sometimes lit in memory of loved ones who have passed on. '
          },
          {
            id: 7,
            title: 'Symbol of Remembrance',
            description: 'Thus, in the aftermath of a tragedy, people sometimes gather in groups for candlelight vigils, lighting candles and standing together in solidarity to honour those who have lost their lives.'
          }
        ]
      }
    },
    beforeRouteEnter (to, from, next) {
      next(vm => {
        if (vm.$store.state.matchedItem) {
          next()
        } else {
          vm.$router.push('/activity')
        }
      })
    },
    computed: {
      ...mapState(['symbols', 'meanings', 'matchedItem']),

      hope () {
        return this.items[this.storyCounter]
      }
    },
    methods: {
      gotoActivity () {
        this.$router.push('/activity')
      },
      goNext () {
        this.storyCounter++
      },
      goBack () {
        this.storyCounter--
      }
    }
  }
</script>

<style lang="scss" scoped>
  $passion: 'Passion One Regular', sans-serif;
  $regular: 'Philosopher Regular', sans-serif;
  $bold: 'Philosopher Bold', sans-serif;

  section {
    background-position: center;
    background-size: cover;
    overflow: hidden;
    color: #fff045;

    h1 {
      font-family: $passion;
      font-size: 7em;
      line-height: 100%;
    }

    h4 {
      font-family: $bold;
      font-size: 3em;
      line-height: 145%;
    }

    p {
      font-family: $regular;
      font-size: 1.8em;
      line-height: 125%;
      padding: 5% 15% 0 0;
    }

    span {
      font-family: $bold;
      font-size: 1.3em;
      line-height: 100%;
    }
  }

  .wrapper {
    margin: 0;
    height: 100vh;
  }

  .hope-one {
    position: relative;

    .hope-one-video {
      height: 100%;
      z-index: 1;

      video {
        height: 101vh;
        min-width: 100%;
      }
    }

    .hope-one-text {
      position: absolute;
      z-index: 2;
      width: 50%;
      height: 100%;
      padding: 10% 7% 0;
      top: 0;
      right: 0;
    }
  }

  .hope-buttons {
    position: absolute;
    z-index: 3;
    display: flex;
    width: 40%;
    bottom: 15%;
    right: 20%;
    justify-content: flex-end;

    .is-next {
      max-width: 10vw;
      margin-left: 5%;
    }

    .is-back {
      max-width: 10vw;
    }
  }
</style>
