<template>
  <section class="section" :style="{ backgroundImage: `url(${require(`@/assets/background/background-yellow.jpg`)})` }">
    <section class="section-two">
      <div class="intro-page has-text-centered columns is-vcentered">
        <div class="intro-pictures column">
          <div class="picture" :style="{ backgroundColor: picture.backgroundColor }" :key="picture.name"
               v-for="picture in pictures">
            <img :src="require(`@/assets/images/symbol-${picture.name.toLowerCase()}.png`)" class="clock"
                 :alt="`Image of ${picture.name}`"/>
          </div>
        </div>

        <div class="intro-text">
          <h4>Symbols in Life & Literature</h4>
          <div class="intro-button">
            <button class="button is-blue is-next start-button" @click="start"><span>Let's Begin!</span></button>
          </div>
        </div>
      </div>
    </section>
  </section>
</template>

<script>
  import { mapState } from 'vuex'

  export default {
    name: 'introduction',
    data () {
      return {
        pictures: [
          { name: 'Loyalty', backgroundColor: '#fff045' },
          { name: 'Envy', backgroundColor: '#3b7bac' },
          { name: 'Hope', backgroundColor: '#3b7bac' },
          { name: 'Peace', backgroundColor: '#fff045' }
        ]
      }
    },
    computed: {
      ...mapState(['symbols'])
    },
    methods: {
      start () {
        this.$router.push('/activity')
      }
    }
  }
</script>

<style lang="scss" scoped>
  $passion: 'Passion One Regular', sans-serif;
  $regular: 'Philosopher Regular', sans-serif;
  $bold: 'Philosopher Bold', sans-serif;

  .section {
    background-size: cover;
    background-position: center;
    height: 100vh;
    padding: 0;
  }

  .section-two {
    height: 100%;
    overflow: hidden;
  }

  .intro-page {
    height: 100%;
    display: grid;

    .intro-pictures {
      border: 8px solid whitesmoke;
      display: grid;
      padding: 0;
      grid-template-columns: 50% 50%;
      margin: 1% 32% 0;

      .picture {
        overflow: hidden;

        img {
          margin-bottom: -2%;
        }
      }
    }

    .intro-text {
      margin-top: -2%;
      h4 {
        font-family: $passion;
        font-size: 3.5em;
        line-height: 145%;
        color: #373308;
      }
    }
    .intro-button {
      font-size: 1.5em;
      margin: 0 32%;
    }
  }
</style>
