<template>
  <section class="section is-paddingless"
           :style="{ backgroundImage: `url(${require(`@/assets/background/background-yellow.jpg`)})` }">

    <div class="story-mode" v-if="storyCounter === 2">
      <video :key="storyCounter" :src="getVideo" autoplay></video>
    </div>

    <div class="columns is-vcentered wrapper">
      <div class="column">
        <div class="dog-first-page" v-if="storyCounter === 0">
          <div class="dog-first-page-image">
            <img :src="require(`@/assets/images/symbol-loyalty.png`)"/>
            <audio :src="require(`@/assets/loyalty/dog-poem-narrate.mp3`)" autoplay></audio>
          </div>

          <div class="dog-first-page-text">
            <h1>DOG</h1>
            <h4>Symbol of Loyalty</h4>
            <p class="content">
              Dogs are symbols of loyalty, because they are known for their fierce devotion to their owners.
              Click to listen to the short verse on the faithfulness of dogs, by the poet George Crabbe.
            </p>
          </div>
        </div>

        <div class="columns is-vcentered has-text-centered" style="height: 100vh;" v-if="storyCounter === 1">
          <div class="column is-10 is-offset-1">
            <div class="box is-note" :style="{ backgroundImage: `url(${require(`@/assets/loyalty/dog-note.png`)})` }">
              <p class="content is-size-3">
                With eye upraised his master's look to scan,
                <br>
                The joy, the solace, and the aid of man:
                <br>
                The rich man's guardian and the poor man's friend,
                <br>
                The only creature faithful to the end.
              </p>

              <h4>George Crabbe</h4>
            </div>
          </div>
        </div>

        <div class="dog-newspaper" v-if="storyCounter === 3">
          <div class="dog-newspaper-image">
            <a :href="symbols[2].link" target="_blank" rel="noopener">
              <img :src="require(`@/assets/loyalty/dog-screen.png`)"/>
            </a>
          </div>

          <div class="dog-newspaper-text">
            <p>{{ symbols[2].story }}</p>
          </div>
        </div>

        <div class="loyalty-buttons">
          <button class="button is-back is-blue" @click="goBack" v-if="storyCounter !== 0">
            <span class="text">Back</span>
            <span class="logo">➜</span>
          </button>

          <button class="button is-next is-before is-blue" @click="goNext">
            <span class="text">Next</span>
            <span class="logo">➜</span>
          </button>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  import { mapState } from 'vuex'

  export default {
    name: 'Loyalty',
    beforeRouteEnter (to, from, next) {
      next(vm => {
        if (vm.$store.state.matchedItem) {
          next()
        } else {
          vm.$router.replace('/activity')
        }
      })
    },
    computed: {
      ...mapState(['symbols', 'meanings', 'matchedItem']),
      getVideo () {
        return require(`@/assets/loyalty/dog-video.mp4`)
      }
    },
    data () {
      return {
        storyCounter: 0,
        video: require(`@/assets/loyalty/dog-video.mp4`)
      }
    },
    methods: {
      goNext () {
        if (this.storyCounter < 3) {
          this.storyCounter++
        } else {
          this.$router.replace('/activity')
        }
      },
      goBack () {
        this.storyCounter--
      }
    }
  }
</script>

<style lang="scss" scoped>
  $passion: 'Passion One Regular', sans-serif;
  $regular: 'Philosopher Regular', sans-serif;
  $bold: 'Philosopher Bold', sans-serif;

  section {
    background-size: cover;
    height: 100vh;
    overflow: hidden;
  }

  h1 {
    font-family: $passion;
    font-size: 7em;
    line-height: 100%;
  }

  h4 {
    font-family: $bold;
    font-size: 3em;
    line-height: 145%;
  }

  p {
    font-family: $regular;
    font-size: 1.6em;
    line-height: 125%;
  }

  span {
    font-family: $regular;
    font-size: 1.3em;
    line-height: 145%;
  }

  video {
    width: 100vw;
    height: 100vh;
  }

  .wrapper {
    margin: 0;
    height: 100vh;
  }

  .is-note {
    background-color: transparent;
    background-size: 100% 100%;
    box-shadow: none;
    min-height: 65vh;

    > .content {
      padding: 10% 5% 0;
      line-height: 150%;

    }
  }

  .dog-first-page {
    display: grid;
    grid-template-columns: 50% 50%;

    .dog-first-page-image {

      img {
        margin-bottom: -10%;
      }
    }

    .dog-first-page-text {
      padding: 13% 20% 0 0;

      p {
        white-space: pre-line;
        padding: 5% 15% 0 0;
      }
    }
  }

  .loyalty-buttons {
    position: fixed;
    display: flex;
    bottom: 15%;
    right: 20%;
    width: 25%;
    justify-content: flex-end;

    .is-before {
      margin: 0 auto;
    }

    .is-next {
      max-width: 12vw;
      margin: 0 auto 0 5%;

      &.is-before {
        margin: 0 auto;
      }
    }

    .is-back {
      max-width: 12vw;
      margin: 0 5% 0 auto;
    }
  }

  .span-one {
    &.highlight-one {
      font-family: $bold !important;
      color: #377aae;
    }
  }

  .span-two {
    &.highlight-two {
      font-family: $bold !important;
      color: #377aae;
    }
  }

  .span-three {
    &.highlight-three {
      font-family: $bold !important;
      color: #377aae;
    }
  }

  .span-four {
    &.highlight-four {
      font-family: $bold !important;
      color: #377aae;
    }
  }

  .span-five {
    &.highlight-five {
      font-family: $bold !important;
      color: #377aae;
    }
  }

  .span-six {
    &.highlight-six {
      font-family: $bold !important;
      color: #377aae;
    }
  }

  .span-seven {
    &.highlight-seven {
      font-family: $bold !important;
      color: #377aae;
    }
  }

  .dog-newspaper {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: -5%;

    .dog-newspaper-image {
      text-align: right;
      margin-right: 5%;
      img {
        transition: all 0.3s;
        width: 50%;
        &:hover {
          transform: rotate(-7deg) scale(1.05);
        }
      }
    }

    .dog-newspaper-text {
      width: 75%;
      p {
        clip-path: polygon(9% 43%, 12% 14%, 20% 7%, 20% 7%, 90% 0, 100% 35%, 97% 88%, 85% 96%, 21% 100%, 10% 89%, 8% 55%, 0 50%);
        background-color: #6adddd;
        padding: 20% 7% 20% 15%;
        font-size: 1.5em;
        font-family: $regular;
      }
    }
  }
</style>
