<template>
  <section :style="{ backgroundImage: `url(${require(`@/assets/background/background-yellow.jpg`)})` }">
    <div class="columns is-vcentered wrapper">
      <div class="column">

        <div class="peace-one" :class="items[storyCounter].css" v-if="storyCounter < 3">
          <div class="peace-one-video">
            <video :src="video" autoplay></video>
          </div>

          <div class="peace-one-text">
            <h1>GANDHI</h1>
            <h4>Symbol of Peace</h4>
            <p>{{ items[storyCounter].text }}</p>
          </div>
        </div>

        <div class="peace-audio-page columns is-vcentered is-mobile" v-else>
          <div class="peace-audio-image column">
            <img :src="require(`@/assets/images/symbol-peace.png`)" :alt="matchedItem.name"/>
          </div>

          <div class="peace-audio column">
            <h1 class="is-uppercase title">Quotes from Gandhi</h1>

            <div class="columns is-vcentered is-mobile" v-if="peace.id > 3" v-for="peace in items">
              <div class="quotes column is-two-thirds">
                <p class="content column has-text-weight-bold">{{ peace.text }}</p>
              </div>

              <div class="column">
                <div class="content">
                  <audio id="audio"></audio>

                  <button class="button is-play" :class="[ peace.playing ? 'is-yes' : 'is-no' ]"
                          @click="playAudio(peace)">
                    <i class="mdi" :class="[ peace.playing ? 'mdi-volume-high' : 'mdi-volume-low' ]"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="peace-buttons">
          <button class="button is-back is-blue" v-if="storyCounter !== 0" @click="goBack">
            <span class="text">Back</span>
            <span class="logo">➜</span>
          </button>

          <button class="button is-next is-blue" v-if="storyCounter < 3" @click="goNext">
            <span class="text">Next</span>
            <span class="logo">➜</span>
          </button>

          <button class="button is-next is-blue goto-activity" @click="gotoActivity" v-else>Back to Drag & Drop</button>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  import { mapState } from 'vuex'

  export default {
    name: 'peace',
    beforeRouteEnter (to, from, next) {
      next(vm => {
        if (vm.$store.state.matchedItem) {
          next()
        } else {
          vm.$router.push('/activity')
        }
      })
    },
    data () {
      return {
        storyCounter: 0,
        nowPlaying: false,
        items: [
          {
            id: 1,
            css: 'slide-one',
            text: 'Gandhi was the leader of the Indian independence movement in the 1900s, and championed non-violence.',
            video: require(`@/assets/peace/peace-one.mp4`)
          },
          {
            id: 2,
            css: 'slide-two',
            text: 'In his long fight against British colonial rule, he rejected the use of violence to achieve social and political change.',
            video: require(`@/assets/peace/peace-two.mp4`)
          },
          {
            id: 3,
            css: 'slide-three',
            text: 'Instead, he called for peaceful resistance, and went on hunger strikes as a means of protest against British rule.',
            video: require(`@/assets/peace/peace-three.mp4`)
          },
          {
            id: 4,
            text: '"If we are to teach real peace in this world, and if we are to carry on a real war against war, we shall have to begin with the children."',
            playing: false,
            audio: require(`@/assets/peace/gandhi-q-one.mp3`)
          },
          {
            id: 5,
            text: '"In a gentle way, you can shake the world."',
            playing: false,
            audio: require(`@/assets/peace/gandhi-q-two.mp3`)
          },
          {
            id: 6,
            text: '"An eye for an eye only ends up making the whole world blind."',
            playing: false,
            audio: require(`@/assets/peace/gandhi-q-three.mp3`)
          }
        ]
      }
    },
    computed: {
      ...mapState(['meanings', 'matchedItem', 'symbols']),
      storyAudio () {
        return this.items[this.storyCounter].audio
      },
      video () {
        return this.items[this.storyCounter].video
      }
    },
    methods: {
      gotoActivity () {
        this.$router.push('/activity')
      },
      goNext () {
        this.storyCounter++
      },
      goBack () {
        this.storyCounter--
      },
      playAudio (obj) {
        this.items.forEach(peace => {
          peace.playing = false
          this.nowPlaying = false

          if (peace.id === obj.id) {
            peace.playing = true
            this.nowPlaying = true

            const audio = this.$el.querySelector('#audio')
            audio.src = obj.audio
            audio.load()

            audio.play()
          }
        })
      }
    }
  }
</script>

<style lang="scss" scoped>
  $passion: 'Passion One Regular', sans-serif;
  $regular: 'Philosopher Regular', sans-serif;
  $bold: 'Philosopher Bold', sans-serif;

  section {
    background-position: center;
    background-size: cover;
    overflow: hidden;

    h1 {
      font-family: $passion;
      font-size: 7em;
      line-height: 100%;
    }

    h4 {
      font-family: $bold;
      font-size: 3em;
      line-height: 145%;
    }

    span {
      font-family: $bold;
      font-size: 1.3em;
      line-height: 145%;
    }
  }

  .wrapper {
    margin: 0;
    height: 100vh;
  }

  .slide-two {
    color: #6f8cff;
    text-shadow:
            1px 1px 0 #2b2b2b,
            -1px -1px 0 #2b2b2b,
            1px -1px 0 #2b2b2b,
            -1px 1px 0 #2b2b2b,
            1px 1px 0 #2b2b2b;
  }

  .slide-three {
    color: whitesmoke;
    text-shadow:
            1px 1px 0 #2b2b2b,
            -1px -1px 0 #2b2b2b,
            1px -1px 0 #2b2b2b,
            -1px 1px 0 #2b2b2b,
            1px 1px 0 #2b2b2b;
  }

  .peace-one {
    position: relative;

    .peace-one-video {
      z-index: 1;

      video {
        min-width: 100%;
        min-height: 101vh;
      }
    }

    .peace-one-text {
      position: absolute;
      z-index: 2;
      width: 50%;
      height: 100%;
      padding: 0 7% 0;
      top: 30%;
      right: 0;

      p {
        font-family: $regular;
        font-size: 1.47em;
        line-height: 125%;
        padding: 5% 15% 0 1%;
      }
    }
  }

  .peace-audio-page {
    h1 {
      font-size: 4em;
    }

    .peace-audio-image {
      img {
        width: 100%;
        margin-bottom: -15%;
      }
    }

    .peace-audio {
      margin-top: -5%;
      height: 100%;

      .quotes {
        font-size: 1.5em;
        min-height: 15vh;
      }
    }
  }

  .is-play {
    font-size: 1.5em;
    padding: 0;
    height: 6vh;
    width: 6vh;
    color: #ffee26;

    &.is-yes {
      background: #377aae;
    }

    &.is-no {
      background: #373308;
    }
  }

  .peace-buttons {
    position: absolute;
    z-index: 3;
    bottom: 15%;
    right: 20%;
    width: 25%;
    display: flex;
    justify-content: flex-end;

    .is-next {
      max-width: 10vw;
      margin-left: 5%;
    }

    .is-back {
      max-width: 10vw;
    }
  }
</style>

