<template>
  <section :style="{ backgroundImage: `url(${require(`@/assets/background/background-blue.png`)})` }">
      <div class="intro-page has-text-centered columns is-vcentered">
        <div class="intro-pictures column">
          <div class="picture" :style="{ backgroundColor: picture.backgroundColor }" :key="picture.name"
               v-for="picture in pictures">
            <img :src="require(`@/assets/images/symbol-${picture.name.toLowerCase()}.png`)" class="clock"
                 :alt="`Image of ${picture.name}`"/>
          </div>
        </div>

        <div class="intro-text">
          <h1 class="is-uppercase is-size-1">A Quick Recap!</h1>
          <p class="is-size-3">
            A Symbol is anything that is used to represent or stand for something other than its own literal
            meaning.
            <br/>
            A Symbol can come in many forms. It can be a person, an animal, an object or even a colour.
          </p>
          <div class="intro-button">
            <button class="button is-yellow is-next goto-activity" @click="gotoActivity">
              <span>Read about Symbols again</span>
            </button>
          </div>
        </div>
      </div>
    </section>
</template>

<script>
  export default {
    name: 'summarise',
    data () {
      return {
        pictures: [
          { name: 'Peace', backgroundColor: '#225477' },
          { name: 'Loyalty', backgroundColor: '#266da0' },
          { name: 'Hope', backgroundColor: '#225477' },
          { name: 'Envy', backgroundColor: '#266da0' }
        ]
      }
    },
    methods: {
      gotoActivity () {
        this.$router.push('/activity')
      }
    }
  }
</script>

<style lang="scss" scoped>
  $passion: 'Passion One Regular', sans-serif;
  $regular: 'Philosopher Regular', sans-serif;

  section {
    background-size: cover;
    background-position: center;
    height: 100vh;
    padding: 0;
    overflow: hidden;
  }

  .intro-page {
    height: 100%;
    display: grid;


    .intro-pictures {
      border: 8px solid whitesmoke;
      display: grid;
      padding: 0;
      grid-template-columns: 25% 25% 25% 25%;
      margin: 1% 20% -10%;

      .picture {
        overflow: hidden;
        img {
          margin-bottom: -2%;
        }
      }
    }

    .intro-text {
      h1 {
        font-family: $passion;
        line-height: 150%;
        color: #ffee26;
      }

      p {
        font-family: $regular;
        line-height: 140%;
        color: #ffee26;
        padding: 0 20%;
        margin-bottom: 1%;
      }
    }

    .intro-button {
      margin: 0 34%;
    }
  }
</style>
