<template>
  <div id="app">
    <section class="is-fullheight" v-show="isLandscape">
      <transition enter-active-class="animated fadeIn">
        <router-view/>
      </transition>
    </section>

    <section class="hero is-fullheight rotate-screen" v-show="!isLandscape">
      <div class="hero-body">
        <div class="container">
          <div class="columns is-vcentered has-text-centered">
            <div class="column is-half is-offset-one-quarter">
              <img :src="require(`@/assets/images/symbol-peace-two.png`)" width="50%" height="50%"
                   alt="Image of rotating device"/>
              <h1 class="content is-uppercase">Please rotate your device</h1>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
  import { mapState } from 'vuex'

  export default {
    name: 'app',
    computed: {
      ...mapState(['isLandscape'])
    },
    mounted () {
      this.invokeOrientationChange()

      window.addEventListener('resize', this.invokeOrientationChange)
    },
    methods: {
      invokeOrientationChange () {
        this.$store.commit('isLandscape', window.innerWidth > window.innerHeight)
      }
    }
  }
</script>

<style lang="scss">
  @import './sass/app.scss';

  @font-face {
    font-family: 'Passion One Regular';
    src: url("./assets/fonts/passion-one-regular.otf") format('opentype');
  }

  @font-face {
    font-family: 'Philosopher Regular';
    src: url("./assets/fonts/philosopher-regular.ttf") format('truetype');
  }

  @font-face {
    font-family: 'Philosopher Bold';
    src: url("./assets/fonts/philosopher-bold.ttf") format('truetype');
  }

  $passion: 'Passion One Regular', sans-serif;
  $regular: 'Philosopher Regular', sans-serif;
  $bold: 'Philosopher Bold', sans-serif;

  section {
    min-height: 100vh;
    font-size: 1vw;
    color: #373308;
  }

  video {
    width: 100%;
    height: 100vh;
  }

  .rotate-screen {
    background-color: #fff045;
    font-family: $passion;
    font-size: 2em;
  }

  .clock {
    animation: wiggle 1s ease-in-out;
  }

  @-webkit-keyframes wiggle {
    0% {
      -webkit-transform: rotate(10deg) scale(0.5);
    }
    25% {
      -webkit-transform: rotate(-10deg);
    }
    50% {
      -webkit-transform: rotate(20deg);
    }
    75% {
      -webkit-transform: rotate(-5deg);
    }
    100% {
      -webkit-transform: rotate(0deg) scale(1);
    }
  }

  @-ms-keyframes wiggle {
    0% {
      -ms-transform: rotate(1deg);
    }
    25% {
      -ms-transform: rotate(-1deg);
    }
    50% {
      -ms-transform: rotate(1.5deg);
    }
    75% {
      -ms-transform: rotate(-5deg);
    }
    100% {
      -ms-transform: rotate(0deg);
    }
  }

  @keyframes wiggle {
    0% {
      transform: rotate(10deg) scale(0.5);
    }
    25% {
      transform: rotate(-10deg);
    }
    50% {
      transform: rotate(20deg);
    }
    75% {
      transform: rotate(-5deg);
    }
    100% {
      transform: rotate(0deg) scale(1);
    }
  }

  .is-yellow {
    background-color: #fff045;
    color: #377aae !important;
  }

  .is-blue {
    background-color: #377aae;
    color: #fff045 !important;;
  }

  .is-next {
    width: 100%;
    border: none;
    font-family: $passion;
    font-size: calc(0.6vh + 0.6vw + 0.5vmin);
    transition: all 0.5s;
    position: relative;

    .text {
      font-size: 1.5em;
      font-family: $passion;
      position: absolute;
      opacity: 1;
      transition: all 0.5s;
    }
    .logo {
      position: absolute;
      font-size: 1.7em;
      line-height: 80%;
      opacity: 0;
      transition: all 0.5s;
      transform: rotateY(60deg);
    }

    &:hover {
      .logo {
        opacity: 1;
        transform: rotateY(0deg);
        transform-style: preserve-3d;
      }

      .text {
        transform: rotateY(60deg);
        transform-style: preserve-3d;
        opacity: 0;
      }
    }
  }

  .is-back {
    border: none;
    font-family: $passion;
    font-size: calc(0.6vh + 0.6vw + 0.5vmin);
    transition: all 0.5s;
    width: 100%;

    .text {
      font-family: $passion;
      font-size: 1.5em;
      position: absolute;
      opacity: 1;
      transition: all 0.5s;
    }

    .logo {
      transform: scaleX(-1) rotateY(60deg);
      font-size: 1.7em;
      line-height: 80%;
      opacity: 0;
      transition: all 0.5s;
    }

    &:hover {
      .logo {
        opacity: 1;
        transform: scaleX(-1) rotateY(0deg);
        transform-style: preserve-3d;
      }
      .text {
        transform: rotateY(60deg);
        transform-style: preserve-3d;
        opacity: 0;
      }
    }
  }

  .popup-enter-active {
    animation: bounce-in .5s;
  }

  .popup-leave-active {
    animation: bounce-in .5s reverse;
  }

  @keyframes bounce-in {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(1.5);
    }
    100% {
      transform: scale(1);
    }
  }

  .fading {
    -webkit-animation-name: fading;
    -ms-animation-name: fading;
    -ms-animation-duration: 800ms;
    -webkit-animation-duration: 800ms;
    -webkit-animation-iteration-count: 1;
    -ms-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
    -ms-animation-timing-function: linear;
  }

  @keyframes fading {
    0% {
      opacity: 0.2;
    }
    25% {
      opacity: 0.35;
    }
    50% {
      opacity: 0.5;
    }
    75% {
      opacity: 0.75;
    }
    100% {
      opacity: 1;
    }
  }

  @-webkit-keyframes fading {
    0% {
      opacity: 0;
    }
    25% {
      opacity: 2.5;
    }
    50% {
      opacity: 0.5;
    }
    75% {
      opacity: 0.75;
    }
    100% {
      opacity: 1;
    }
  }

  @-ms-keyframes fading {
    0% {
      opacity: 0;
    }
    25% {
      opacity: 2.5;
    }
    50% {
      opacity: 0.5;
    }
    75% {
      opacity: 0.75;
    }
    100% {
      opacity: 1;
    }
  }
</style>
